
@keyframes spin {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-30deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(30deg); }
    100% { transform: rotate(0deg); }
  }

/* Container for the loader and text */
.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

/* Spinner styling */
.loading-spinner {
    /* border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%; */
    width: 100px;
    height: auto;
    animation: spin 1.5s linear infinite;
}


/* Styling for the loading text */
.loading-text {
    margin-top: 20px; /* Space between spinner and text */
    font-size: 1.2em;
    color: #333;
    text-align: center; /* Ensures the text is centered in its box */
}
